<section id="advantages" class="section advantages">
    <div class="container section-advantages">
        <h2 class="section-title tagline">
            Переваги
        </h2>
        <h3 class="section-title section-title-advantages">
            Чому обрати нас?
        </h3>
        <p class="section-text section-text-advantages text">
            Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну відповідальність.
        </p>
        <ul class="advantages-list">
            <li class="advantages-list-item">
                <div class="advantages-item">
                    <picture class="picture-advantages-item">
                        <source
                            media="(min-width: 1440px)"
                            srcset="/img/advantages/organic-min.jpg 1x,
                                    /img/advantages/organic@2x-min.jpg 2x"
                        />

                        <source
                            media="(min-width: 768px)"
                            srcset="/img/advantages/organic-tab-min.jpg 1x,
                                    /img/advantages/organic-tab@2x-min.jpg 2x" 
                        />

                        <source
                            media="(max-width: 767px)"
                            srcset="/img/advantages/organic-mob-min.jpg 1x,
                                    /img/advantages/organic-mob@2x-min.jpg 2x"
                        />

                        <img class="img-advantages" src="/img/advantages/organic-min.jpg" alt="Natural materials for eco-friendly bags: organic cotton, recycled fabric, hemp rope, and a green leaf on linen" width="288" height="198">
                    </picture>
                    <h4 class="section-title list-title">
                        Стійкість та екологічність
                    </h4>
                    <p class="section-text section-text-advantages ">
                        Виготовлені з органічної бавовни та переробленого пластику.
                    </p>
                                                               
                        
                </div>
            </li>
            <li class="advantages-list-item">
                <div class="advantages-item">
                    <picture>
                        <source media="(min-width: 1140px)" 
                            srcset="/img/advantages/close-up-min.jpg 1x,
                                    /img/advantages/close-up@2x-min.jpg 2x" />
            
                        <source media="(min-width: 768px)" 
                            srcset="/img/advantages/close-up-tab-min.jpg 1x,
                                     /img/advantages/close-up-tab@2x-min.jpg 2x" />
            
                        <source media="(max-width: 767px)" 
                            srcset="/img/advantages/close-up-mob-min.jpg 1x,
                                    /img/advantages/close-up-mob@2x-min.jpg 2x" />
            
                        <img class="img-advantages" src="/img/advantages/close-up-mob-min.jpg"
                            alt="Close-up of a tote bag being sewn with visible double stitching on thick organic fabric. Focus on texture and build quality"
                            width="288" height="198">
                    </picture>
                    <h4 class="section-title list-title">
                        Міцність і довговічність
                    </h4>
                    <p class="section-text section-text-advantages">
                        Наші сумки мають посилені шви для тривалого використання.
                    </p>
            
            
                </div>
            </li>
            <li class="advantages-list-item full-width">
                <div class="advantages-item">
                    <picture>
                        <source media="(min-width: 1140px)" 
                            srcset="/img/advantages/bags-min.jpg 1x,
                                    /img/advantages/bags@2x-min.jpg 2x" />
            
                        <source media="(min-width: 768px)" 
                            srcset="/img/advantages/bags-tab-min.jpg 1x,
                                    /img/advantages/bags-tab@2x-min.jpg 2x" />
            
                        <source media="(max-width: 767px)" 
                            srcset="/img/advantages/bags-mob-min.jpg 1x,
                                    /img/advantages/bags-mob@2x-min.jpg 2x" />
            
                        <img class="img-advantages wide" src="/img/advantages/bags-mob-min.jpg"
                            alt="Eco-tote bags in trendy muted colors displayed on a neutral background. Focus on modern style and minimalist design"
                            width="288" height="198">
                    </picture>
                    <h4 class="section-title list-title">
                        Стильний та сучасний дизайн
                    </h4>
                    <p class="section-text section-text-advantages no-margin">
                        Мінімалістичні моделі в обмежених серіях для кожного стилю.
                    </p>
            
            
                </div>
            </li>
        
    </div>
</section>
