<section id="assortment" class="section assortment">
    <div class="container section-assortment">
        <h3 class="section-title section-title-assortment">
            Наші сумки
        </h3>
        <ul class="assortment-list">
            <li class="assortment-list-item">
                <div class="assortment-item">
                    <picture class="picture-assortment-item">

                        <source media="(min-width: 1140px)"
                        srcset="./img/Assortment/EcoBag-Classic-1-min.jpg 1x,
                        /img/Assortment/EcoBag-Classic@2x-1-min.jpg 2x"
                        />

                        <source
                            media="(min-width: 768px)"
                            srcset="./img/Assortment/EcoBag-Classic-2-min.jpg 1x,
                        /img/Assortment/EcoBag-Classic@2x-2-min.jpg 2x"
                        />

                        <source
                        srcset="./img/Assortment/EcoBag-Classic-2-min.jpg 1x,
                        /img/Assortment/EcoBag-Classic@2x-2-min.jpg 2x"
                        />

                        <img class="img-Assortment" src="./img/Assortment/EcoBag-Classic-1-min.jpg" alt="Natural materials for eco-friendly bags: organic cotton, recycled fabric, hemp rope, and a green leaf on linen" width="288" height="198">
                    </picture>
                    <h5 class="section-title list-title">
                        EcoBag Classic
                    </h5>
                    <p class="section-text section-text-assortment ">
                        Елегантна та містка сумка для щоденного використання.
                    </p>
                    <p class="product-price">$25</p>
                    <button class="btn-buy" type="button">Купити</button>                                   
                        
                </div>
            </li>
            <li class="assortment-list-item">
                <div class="assortment-item">
                    <picture>

                        <source media="(min-width: 1140px)" 
                            srcset="/img/Assortment/EcoTote-Shopper-1-min.jpg 1x,
                                    /img/Assortment/EcoTote-Shopper@2x-1-min.jpg 2x" />
            
                        <source media="(min-width: 768px)" 
                            srcset="/img/Assortment/EcoTote-Shoppe-2-min.jpg 1x,
                                     /img/Assortment/EcoTote-Shopper@2x-2-min.jpg 2x" />
            
                        <source media="(max-width: 767px)" 
                            srcset="/img/Assortment/EcoTote-Shopper-2-min.jpg 1x,
                                    /img/Assortment/EcoTote-Shopper@2x-2-min.jpg 2x" />
            
                        <img class="img-Assortment" src="/img/Assortment/EcoTote-Shopper-1-min.jpg"
                            alt="Close-up of a tote bag being sewn with visible double stitching on thick organic fabric. Focus on texture and build quality"
                            width="288" height="198">
                    </picture>
                    <h5 class="section-title list-title">
                        EcoTote Shopper
                    </h5>
                    <p class="section-text section-text-assortment">
                        Ідеальна для покупок, з посиленими ручками.
                    </p>
                    <p class="product-price">$30</p>
                    <button class="btn-buy" type="button">Купити</button>
                    
                </div>
            </li>
            <li class="assortment-list-item full-width">
                <div class="assortment-item">
                    <picture>
                        <source media="(min-width: 1140px)" 
                            srcset="/img/Assortment/EcoBackpack-Urban-1-min.jpg 1x,
                                    /img/Assortment/EcoBackpack-Urban@2x-1-min.jpg 2x" />
            
                        <source media="(min-width: 768px)" 
                            srcset="/img/Assortment/EcoBackpack-Urban-2-min.jpg 1x,
                                    /img/Assortment/EcoBackpack-Urban@2x-2-min.jpg 2x" />
            
                        <source media="(max-width: 767px)" 
                            srcset="/img/Assortment/EcoBackpack-Urban-2-min.jpg 1x,
                                    /img/Assortment/EcoBackpack-Urban@2x-2-min.jpg 2x" />

            
                        <img class="img-Assortment" src="/img/Assortment/EcoBackpack-Urban-1-min.jpg"
                            alt="Eco-tote bags in trendy muted colors displayed on a neutral background. Focus on modern style and minimalist design"
                            width="288" height="198">
                    </picture>
                    <h4 class="section-title list-title">
                        EcoBackpack Urban
                    </h4>
                    <p class="section-text section-text-assortment no-margin">
                        Зручний рюкзак для міста з відділенням для ноутбука.
                    </p>
                    <p class="product-price">$45</p>
                    <button class="btn-buy" type="button">Купити</button>
            
                </div>
            </li>
            <li class="assortment-list-item">
                <div class="assortment-item">
                    <picture class="picture-assortment-item">

                        <source media="(min-width: 1140px)"
                        srcset="./img/Assortment/EcoCrossbody-Mini-1-min.jpg 1x,
                        ./img/Assortment/EcoCrossbody-Mini@2x-1-min.jpg 2x"
                        />

                        <source
                            media="(min-width: 768px)"
                            srcset="./img/Assortment/EcoCrossbody-Mini-2-min.jpg 1x,
                        ./img/Assortment/EcoCrossbody-Mini@2x-2-min.jpg 2x"
                        />

                        <source
                        srcset="./img/Assortment/EcoCrossbody-Mini-2-min.jpg 1x,
                        ./img/Assortment/EcoCrossbody-Mini@2x-2-min.jpg 2x"
                        />

                        <img class="img-assortment" src="./img/Assortment/EcoCrossbody-Mini-1-min.jpg" alt="Natural materials for eco-friendly bags: organic cotton, recycled fabric, hemp rope, and a green leaf on linen" width="288" height="198">
                    </picture>
                    <h5 class="section-title list-title">
                        EcoCrossbody Mini
                    </h5>
                    <p class="section-text section-text-advantages ">
                        Компактна сумка через плече для найнеобхіднішого.
                    </p>
                    <p class="product-price">$20</p>
                    <button class="btn-buy" type="button">Купити</button>
                                                               
                        
                </div>
            </li>
            <li class="assortment-list-item">
                <div class="assortment-item">
                    <picture>

                        <source media="(min-width: 1140px)" 
                            srcset="/img/Assortment/EcoLunch-Bag-1-min.jpg 1x,
                                    /img/Assortment/EcoLunch-Bag@2x-1-min.jpg 2x" />
            
                        <source media="(min-width: 768px)" 
                            srcset="/img/Assortment/EcoLunch-Bag-2-min.jpg 1x,
                                     /img/Assortment/EcoLunch-Bag@2x-2-min.jpg 2x" />
            
                        <source media="(max-width: 767px)" 
                            srcset="/img/Assortment/EcoLunch-Bag-2-min.jpg 1x,
                                    /img/Assortment/EcoLunch-Bag@2x-2-min.jpg 2x" />
            
                        <img class="img-Assortment" src="/img/Assortment/EcoLunch-Bag-1-min.jpg"
                            alt="Close-up of a tote bag being sewn with visible double stitching on thick organic fabric. Focus on texture and build quality"
                            width="288" height="198">
                    </picture>
                    <h5 class="section-title list-title">
                        EcoLunch Bag
                    </h5>
                    <p class="section-text section-text-assortment">
                        Стильна та практична сумка для обідів.
                    </p>
                    <p class="product-price">$15</p>
                    <button class="btn-buy" type="button">Купити</button>
            
            
                </div>
            </li>
            <li class="assortment-list-item full-width">
                <div class="assortment-item">
                    <picture>
                        <source media="(min-width: 1140px)" 
                            srcset="/img/Assortment/EcoBeach-Tote-1-min.jpg 1x,
                                    /img/Assortment/EcoBeach-Tote@2x-1-min.jpg 2x" />
            
                        <source media="(min-width: 768px)" 
                            srcset="/img/Assortment/EcoBeach-Tote-2-min.jpg 1x,
                                    /img/Assortment/EcoBeach-Tote@2x-2-min.jpg 2x" />
            
                        <source media="(max-width: 767px)" 
                            srcset="/img/Assortment/EcoBeach-Tote-2-min.jpg 1x,
                                    /img/Assortment/EcoBeach-Tote@2x-2-min.jpg 2x" />

            
                        <img class="img-Assortment" src="/img/Assortment/EcoBeach-Tote-1-min.jpg"
                            alt="Eco-tote bags in trendy muted colors displayed on a neutral background. Focus on modern style and minimalist design"
                            width="288" height="198">
                    </picture>
                    <h5 class="section-title list-title">
                        EcoBeach Tote
                    </h5>
                    <p class="section-text section-text-advantages no-margin">
                        Велика сумка для пляжних речей з водонепроникною підкладкою.
                    </p>
                    <p class="product-price">$35</p>
                    <button class="btn-buy" type="button">Купити</button>
            
                </div>
            </li>

            <li class="assortment-list-item">
                <div class="assortment-item">
                    <picture>

                        <source media="(min-width: 1140px)" 
                            srcset="/img/Assortment/EcoTravel-Duffle-1-min.jpg 1x,
                                    /img/Assortment/EcoTravel-Duffle@2x-1-min.jpg 2x" />
            
                        <source media="(min-width: 768px)" 
                            srcset="/img/Assortment/EcoTravel-Duffle-2-min.jpg 1x,
                                     /img/Assortment/EcoTravel-Duffle@2x-2-min.jpg 2x" />
            
                        <source media="(max-width: 767px)" 
                            srcset="/img/Assortment/EcoTravel-Duffle-2-min.jpg 1x,
                                    /img/Assortment/EcoTravel-Duffle@2x-2-min.jpg 2x" />
            
                        <img class="img-Assortment" src="/img/Assortment/EcoTravel-Duffle-1-min.jpg"
                            alt="Close-up of a tote bag being sewn with visible double stitching on thick organic fabric. Focus on texture and build quality"
                            width="288" height="198">
                    </picture>
                    <h5 class="section-title list-title">
                        EcoTravel Duffle
                    </h5>
                    <p class="section-text section-text-assortment">
                        Містка дорожня сумка з додатковими кишенями.
                    </p>
                    <p class="product-price">$60</p>
                    <button class="btn-buy" type="button">Купити</button>
            
                </div>
            </li>
            <li class="assortment-list-item full-width">
                <div class="assortment-item">
                    <picture>
                        <source media="(min-width: 1140px)" 
                            srcset="/img/Assortment/EcoKids-Bag-1-min.jpg 1x,
                                    /img/Assortment/EcoKids-Bag@2x-1-min.jpg 2x" />
            
                        <source media="(min-width: 768px)" 
                            srcset="/img/Assortment/EcoKids-Bag-2-min.jpg 1x,
                                    /img/Assortment/EcoKids-Bag@2x-2-min.jpg 2x" />
            
                        <source media="(max-width: 767px)" 
                            srcset="/img/Assortment/EcoKids-Bag-2-min.jpg 1x,
                                    /img/Assortment/EcoKids-Bag@2x-2-min.jpg 2x" />

            
                        <img class="img-Assortment" src="/img/Assortment/EcoKids-Bag-1-min.jpg"
                            alt="Eco-tote bags in trendy muted colors displayed on a neutral background. Focus on modern style and minimalist design"
                            width="288" height="198">
                    </picture>
                    <h5 class="section-title list-title">
                        EcoKids Bag
                    </h5>
                    <p class="section-text section-text-advantages no-margin">
                        Яскрава та зручна сумка для дітей.
                    </p>
                    <p class="product-price">$22</p>
                    <button class="btn-buy" type="button">Купити</button>
            
                </div>
            </li>
        </ul>
    </div>
</section>