<section class="section section-feedbacks">
  <div class="container container-feedbacks">
    <h2 class="section-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <div class="feedbacks-stars">
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
        </div>
        <p class="feedbacks-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks-name">Анна</p>
      </li>
      <li class="feedbacks-item">
        <div class="feedbacks-stars">
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars accent-dark" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
        </div>
        <p class="feedbacks-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedbacks-name">Ігор</p>
      </li>
      <li class="feedbacks-item">
        <div class="feedbacks-stars">
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars accent-dark" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
        </div>
        <p class="feedbacks-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedbacks-name">Олена</p>
      </li>
      <li class="feedbacks-item">
        <div class="feedbacks-stars">
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
          <svg class="icon-stars" width="20" height="19">
            <use href="/img/sprite.svg#icon-stars"></use>
          </svg>
        </div>
        <p class="feedbacks-text">Швидка доставка та гарне обслуговування.</p>
        <p class="feedbacks-name">Сергій</p>
      </li>
    </ul>
  </div>
</section>
