<section class="gallery container">
    <div class="gallery-box">
        <h2 class="gallery-title">Галерея зображень</h2>
        <h3 class="gallery-sab-title">EcoTotes у повсякденному житті</h3>
    </div>
    <div class="gallery-foto-box">
<ul class="gallery-list">
    <div class="gallery-accent">
    <li class="gallery-item"><img class="gallery-img" src="/img/gallery/galleri-foto-desc-1-min.jpg" alt="k" width="420"></li>
    <li class="gallery-item"><img class="gallery-img" src="/img/gallery/galleri-foto-desc-2-min.jpg" alt="" width="420"></li>
</div>
    <li class="gallery-item"><img class="gallery-img" src="/img/gallery/galleri-foto-desc-3-min.jpg" alt="" width="420"></li>
    <li class="gallery-item"><img class="gallery-img" src="/img/gallery/galleri-foto-desc-4-min.jpg" alt="" width="420"></li>
</ul>
</div>
</section>