<section class="gallery container">
    <div class="gallery">
        <div class="gallery-box">
            <h2 class="gallery-title">Галерея використання</h2>
            <p class="gallery-sab-title">EcoTotes у повсякденному житті</p>
        </div>

        <ul class="gallery-list">
            <li id="item1" class="gallery-item">
                <img class="gallery-img" src="/img/gallery/galleri-foto-desc-1-min.jpg" alt="Жінка з овочами">
            </li>
            <li id="item2" class="gallery-item">
                <img class="gallery-img" src="/img/gallery/galleri-foto-desc-2-min.jpg" alt="Сумка ECO на стільці">
            </li>
            <li id="item3" class="gallery-item">
                <img class="gallery-img" src="/img/gallery/galleri-foto-desc-3-min.jpg" alt="Чоловік з сумкою в місті">
            </li>
            <li id="item4" class="gallery-item">
                <img class="gallery-img" src="/img/gallery/galleri-foto-desc-4-min.jpg" alt="Сумка з знаком рециклінгу">
            </li>
        </ul>
    </div>
</section>