<section class="hero">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title section-title">
        <span lang="en">EcoTote</span> — Стиль, що не шкодить планеті
      </h1>
      <div class="hero-advertise-wrapper">
        <p class="hero-text section-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з <span lang="en">EcoTote</span>.
        </p>
        <a href="#assortment" class="hero-btn section-btn">Купити зараз</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          /img/hero/hero-image-desktop.jpg    1x,
          /img/hero/hero-image-desktop-2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /img/hero/hero-image-tablet.jpg    1x,
          /img/hero/hero-image-tablet-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/hero/hero-image-mobile.jpg    1x,
          /img/hero/hero-image-mobile-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-image"
        src="/img/hero/hero-image-mobile.jpg"
        width="1312"
        height="498"
        alt="Eco Bags"
      />
    </picture>
  </div>
</section>
