.section.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/about/about-bg-mob@1x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 320px;
  /* height: 348px; */
}

.div-about {
  /* height: 220px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.section-title.about-subtitle {
  text-align: center;
  color: #fff;
  max-width: 288px;
  margin-bottom: 20px;
}

.section-text.section-text-about {
  /* font-size: 16px; */
  max-width: 288px;
  text-align: center;
  color: #fff;
}

@media (min-resolution: 2x) {
  .section.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/about/about-bg-mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .section.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/about/about-bg-mob@1x.jpg);
    /* image-set(
        url(/img/about/about-bg-tab@1x.jpg) 1x,
        url(/img/about/about-bg-tab@2x.jpg) 2x); */

    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 768px;
    /* height: 325px; */
  }

  @media (min-resolution: 2x) {
    .section.about {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/about/about-bg-tab@2x.jpg);
    }
  }
  /* 
  .div-about {
    width: 768px;
    height: 165px;
  } */

  .about-title {
    margin-bottom: 16px;
  }

  .section-title.about-subtitle {
    margin-bottom: 24px;
    max-width: 574px;
  }

  .section-text.section-text-about {
    font-size: 18px;
    max-width: 573px;
  }
}

@media only screen and (min-width: 1440px) {
  .section.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/img/about/about-bg@1x.jpg);
    /* image-set(
        url(/img/about/about-bg@1x.jpg) 1x,
        url(/img/about/about-bg@2x.jpg) 2x); */

    padding-top: 112px;
    padding-bottom: 94px;
    min-width: 1440px;
    /* width: 1440px;
      height: 462px; */
  }

  @media (min-resolution: 2x) {
    .section.about {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/about/about-bg@2x.jpg);
    }

    /* .div-about {
    width: 768px;
    height: 256px;
  } */

    /* .about-title {
    font-size: 16px;
    max-width: 94px;
  } */

    .section-title.about-subtitle {
      font-size: 56px;
      max-width: 629px;
    }

    /* .section-text-about {
    font-size: 18px;
    max-width: 574px;
  } */
  }
}
