.section-title-assortment {
  text-align: center;
  margin-bottom: 32px;
}

/* ASSORTMENT-LIST */
.assortment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .assortment-list {
    gap: 24px;
  }
  .assortment-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .assortment-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

.assortment-img {
  border-radius: 32px;
  overflow: hidden;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 145px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: #030a06;
  text-align: center;
}
.item-description {
  font-size: 14px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 8px;
  padding: 0 10px;
  text-align: center;
}

.product-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: #030a06;
  text-align: center;
}

.btn-buy {
  width: 100%;
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 8px 20px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #030a06;
  background-color: #ebf8ed;
}

.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active {
  background-color: #113916;
  border-color: #113916;
  outline: none;
  box-shadow: none;
  color: #fff;
  opacity: 0.6;
}
