.footer {
  background-color: #75d281;
}

.footer-container {
  padding: 48px 20px;
  width: 100%;
}
.footer-logo {
  display: block;
  margin-bottom: 48px;
}

.footer-logo-icon {
  width: 280px;
  height: 102px;
}

.footer-nav-list {
  margin-bottom: 48px;
  text-align: center;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.footer-contacts-link,
.footer-nav-link {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-link {
  display: flex;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover,
.footer-nav-link:hover,
.footer-contacts-link:focus,
.footer-nav-link:focus {
  color: #113916;
}

.footer-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 48px;
}

.footer-media-link:hover .footer-media-icon,
.footer-media-link:focus .footer-media-icon {
  fill: #113916;
}

.footer-media-icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts {
  font-style: normal;
  margin-bottom: 24px;
  border-top: 1px solid rgba(3, 10, 6, 0.15);
  padding-top: 24px;
}

.footer-contacts-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 64px 32px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 32px;
  }

  .footer-logo-icon {
    width: 164px;
    height: 70px;
  }

  .footer-nav {
    padding-left: 69px;
    padding-right: 69px;
  }

  .footer-nav-list {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
  }

  .footer-nav-item:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-media-list {
    margin-bottom: 24px;
  }

  .footer-media-icon {
    width: 40px;
    height: 40px;
  }

  .footer-contacts {
    padding-top: 16px;
    margin-bottom: 16px;
  }

  .footer-contacts-list {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    padding: 80px 64px;
  }

  .footer-content {
    margin-bottom: 52px;
    flex-direction: row;
  }

  .footer-logo {
    margin-left: 0;
    margin-right: 177px;
    margin-bottom: 0;
  }
  .footer-media-list,
  .footer-nav-list,
  .logo-icon {
    margin-bottom: 0;
  }

  .footer-nav {
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer-media-list {
    padding-left: 245px;
  }

  .footer-media-icon {
    width: 24px;
    height: 24px;
  }

  .footer-contacts,
  .footer-text {
    width: 100%;
  }
}
