.gallery {
    background: #ebf8ed;
}

.gallery-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
}

.gallery-title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    padding-bottom: 16px;
}

.gallery-sab-title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #030a06;
}

.gallery-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 32px;
}

#item2 {
    order: 1;
}

#item3 {
    order: 2;
}

#item4 {
    order: 3;
}

#item1 {
    order: 4;
}

.item3,
.item4 {
    aspect-ratio: 1/ 1;
}

.gallery-item {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .gallery-box {
        margin-bottom: 32px;
    }

    .gallery-title {
        padding-bottom: 24px;
    }

    .gallery-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "item1 item3-area"
            "item4 item3-area"
            "item4 item2-area";
        gap: 24px;
    }

    #item1 {
        grid-area: item1;
    }

    #item2 {
        grid-area: item2-area;

    }

    #item3 {
        grid-area: item3-area;
    }

    #item4 {
        grid-area: item4;
    }
}

@media only screen and (min-width: 1440px) {

    .gallery-sab-title,
    .p {
        padding-bottom: 32px;
    }

    .gallery-box {
        margin-bottom: 32px;
    }

    .gallery-title {
        font-size: 48px;
        padding-bottom: 24px;
        margin-bottom: 0;
    }

    .gallery-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: stretch;
        grid-template-rows: none;
    }

    #item1 {
        grid-row: 1;
    }

    #item2 {
        grid-row: 2;
    }

    #item1,
    #item2 {
        grid-column: 1;
    }

    #item1,
    #item2 {
        display: flex;
        flex-direction: column;
    }

    #item3 {
        grid-column: 2;
        grid-row: 1 / span 2;
        height: 100%;
    }

    #item4 {
        grid-column: 3;
        grid-row: 1 / span 2;
        height: 100%;
    }

}