.gallery {
    background: #ebf8ed;
}

.gallery-box {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
margin-bottom: 32px;
}

.gallery-title {
font-family: "Comfortaa", sans-serif;
font-weight: 700;
font-size: 48px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #030a06;
}

.gallery-sab-title {
font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: #030a06;
}

.gallery-foto-box {

}

.gallery-list {
display: flex;
gap: 24px;
}

.gallery-item {

}

.gallery-img {

}

.gallery-accent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}