.gallery {
    background: #ebf8ed;
}

.gallery-box {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
margin-bottom: 32px;
}

.gallery-title {
font-family: "Comfortaa", sans-serif;
font-weight: 700;
font-size: 48px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #030a06;
}

.gallery-sab-title {
font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: #030a06;
}

/* --- Стилі для галереї на основі ul/li та Grid --- */
.gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Три рівні колонки */
    gap: 24px; /* Проміжок між li елементами */
    align-items: stretch; /* Забезпечує, що li розтягуються на всю висоту осередку */
}
/* Стилі для першого li (з двома фото одне над одним) */
.gallery-item-col-one {
    display: flex; /* Робимо цей li Flex-контейнером */
    flex-direction: column; /* Розміщуємо фотографії одне над одним */
    gap: 24px; /* Проміжок між двома фотографіями всередині цього li */
}

/* Стилі для всіх зображень у галереї */
.gallery-img {
    width: 100%; /* Зображення займає всю ширину свого батьківського контейнера (li або div всередині li) */
    height: 100%; /* Зображення розтягується на всю висоту свого контейнера */
    object-fit: cover; /* Обрізає зображення, щоб воно заповнило контейнер, зберігаючи пропорції */
    display: block; /* Видаляємо зайвий простір під зображеннями */
    border-radius: 32px;
}
